<aside class="col-md-4 blog-sidebar">
    {{ partial "sidebar-tags.html" . }}
    {{ partial "sidebar-about.html" . }}

    <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/sillyhatxu">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/shikuan-xu-38887214b/">LinkedIn</a></li>
            <!--<li><a href="#">Facebook</a></li>-->
        </ol>
    </div>
    {{ partial "sidebar-archives.html" . }}
</aside><!-- /.blog-sidebar -->